

@model AdminViewModel

<h3>Administratörssidan</h3>


<table>
    <tr>
        <th>Order ID</th>
        <th>Namn</th>
        <th>Datum</th>
        <th>Adress</th>
    </tr>

    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.Name</td>
            <td>@order.OrderDate</td>
            <td>@order.Address</td>
            <td>

                @Html.ActionLink("Ändra", "EditOrder", "Admin", new { id = order.Id })
                @Html.ActionLink("Detaljer", "OrderDetails", "Admin", new { id = order.Id })
                @Html.ActionLink("Ta bort", "DeleteOrder", "Admin", new { id = order.Id })
            </td>
        </tr>
    }
</table>