@model Order
<link href="~/css/AdminSheet.css" rel="stylesheet" />
<article class="card">
    <div class="card-info">
        <h3 class="card-title">Ordernummer: @Model.Id</h3>

        <p id="OrderDate">@Model.OrderDate.ToString("dd/MM/yyyy")</p>

        <p id="Name">@Model.Name</p>
        <p id="Name">@Model.Address, @Model.ZipCode @Model.City</p>
        <p id="Name">@Model.Email</p>
        <p id="PhoneNumber">@Model.PhoneNumber</p>

        <p id="PaymentMethod">@Model.PaymentMethod</p>
        <p id="OrderStatus">@Model.OrderStatus</p>
    </div>
    <div class="card-products">
        <table class="content-table">
            <tr>
                <th>Produkt</th>
                <th>Antal</th>
                <th>Pris</th>
            </tr>
            <tr>
                <td>@Model.Product.Name</td>
                <td>@Model.ProductQuantity</td>
                <td>@Model.Product.Price</td>
            </tr>
            @if (Model.Delivery == "Hemleverans")
            {
                <tr>
                    <td>Hemleverans</td>
                    <td></td>
                    <td>250</td>
                </tr>

            }
            <tr>
                <td>Totalt</td>
                <td></td>
                <td>@Model.TotalPrice</td>
            </tr>
        </table>
    </div>
    <a href="@Url.Action("EditOrder", "Admin", @Model)">Ändra</a>
</article>

