@model AdminViewModel

<div>
    <div class="div-products">

        @foreach (var p in Model.Products)
        {

            <div class="div-item">
                <form asp-controller="Admin" asp-action="MyAction">
                    <input type="hidden" asp-for="ProductId" value="@p.Id" />
                    <label asp-for="Name" value="@p.Name">@p.Name</label>
                    <input type="hidden" asp-for="Quantity" value="@p.StockQuantity" />
                    <label>@p.StockQuantity</label>
                    <input asp-for="Number" name="Number" class="form-control" id="Quantity" onfocus="this.value=''" />

                    <input type="submit" name="submitButton" value="Add" />
                    <input type="submit" name="submitButton" value="Sub" />

                </form>
                

                
            </div>

        }



    </div>


</div>